*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}


div{
    width: 100vw;
    height: 100vh;
    padding: 10vh 25vw;
    box-sizing: border-box;
   
}

div img{
    width: 100%;
    height: auto;
    display: block;
}

div button{
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, orange, greenyellow);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;

}